.developer1-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
  }
  .developer1-developer1 {
    width: 100%;
    height: 1168px;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    background-color: rgba(255, 255, 255, 1);
  }
  .developer1-rectangle8 {
    top: 289px;
    left: 387px;
    width: 812px;
    height: 139px;
    position: absolute;
  }
  .developer1-rectangle9 {
    top: 515px;
    left: 387px;
    width: 812px;
    height: 139px;
    position: absolute;
  }
  .developer1-text {
    top: 518px;
    left: 1091px;
    color: rgba(0, 0, 0, 1);
    width: 108px;
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .developer1-text02 {
    top: 621px;
    left: 394px;
    color: rgba(93, 0, 167, 0.6499999761581421);
    width: 171px;
    height: auto;
    position: absolute;
    font-size: 15px;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .developer1-text04 {
    top: 519px;
    left: 387px;
    color: rgba(0, 0, 0, 1);
    width: 260px;
    height: auto;
    position: absolute;
    font-size: 20px;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .developer1-text06 {
    top: 297px;
    left: 391px;
    color: rgba(0, 0, 0, 1);
    width: 260px;
    height: auto;
    position: absolute;
    font-size: 20px;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .developer1-rectangle10 {
    top: 741px;
    left: 387px;
    width: 812px;
    height: 139px;
    position: absolute;
  }
  .developer1-text08 {
    top: 740px;
    left: 1091px;
    color: rgba(0, 0, 0, 1);
    width: 108px;
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .developer1-text10 {
    top: 851px;
    left: 394px;
    color: rgba(93, 0, 167, 0.6499999761581421);
    width: 171px;
    height: auto;
    position: absolute;
    font-size: 15px;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .developer1-text12 {
    top: 745px;
    left: 391px;
    color: rgba(0, 0, 0, 1);
    width: 260px;
    height: auto;
    position: absolute;
    font-size: 20px;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .developer1-text14 {
    top: 297px;
    left: 391px;
    color: rgba(0, 0, 0, 1);
    width: 260px;
    height: auto;
    position: absolute;
    font-size: 20px;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .developer1-text16 {
    top: 399px;
    left: 394px;
    color: rgba(93, 0, 167, 0.6499999761581421);
    width: 171px;
    height: auto;
    position: absolute;
    font-size: 15px;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .developer1-rectangle11 {
    top: 0px;
    left: 0px;
    width: 190px;
    height: 1168px;
    position: absolute;
  }
  .developer1-text18 {
    top: 245px;
    left: 11px;
    color: rgba(255, 255, 255, 1);
    width: 179px;
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .developer1-icoutlineplus {
    top: 126px;
    left: 22px;
    width: 129px;
    height: 121px;
    position: absolute;
  }
  .developer1-text20 {
    top: 475px;
    left: 11px;
    color: rgba(255, 255, 255, 1);
    width: 179px;
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .developer1-text22 {
    top: 670px;
    left: 24px;
    color: rgba(255, 255, 255, 1);
    width: 179px;
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .developer1-rectangle12 {
    top: 515px;
    left: 1324px;
    width: 325px;
    height: 653px;
    position: absolute;
  }
  .developer1-line3 {
    top: 880px;
    left: 1328px;
    width: 314px;
    height: 1px;
    position: absolute;
  }
  .developer1-line4 {
    top: 1014px;
    left: 1333px;
    width: 314px;
    height: 1px;
    position: absolute;
  }
  .developer1-line2 {
    top: 745px;
    left: 1330px;
    width: 314px;
    height: 1px;
    position: absolute;
  }
  .developer1-group {
    top: 62.996219635009766px;
    left: 345.459716796875px;
    width: 132.98524475097656px;
    height: 115.0663833618164px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .developer1-vector {
    top: 0.003782253618986431px;
    left: 0.2539362684590287px;
    width: 131px;
    height: 115px;
    position: absolute;
  }
  .developer1-vector01 {
    top: 17.566165644479497px;
    left: -0.2616392450899525px;
    width: 133px;
    height: 80px;
    position: absolute;
  }
  .developer1-group1 {
    top: 9px;
    left: 1488.713623046875px;
    width: 132.98524475097656px;
    height: 115.0663833618164px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .developer1-vector02 {
    top: 0.0037822536189882072px;
    left: 0.2539362684590287px;
    width: 131px;
    height: 115px;
    position: absolute;
  }
  .developer1-vector03 {
    top: 17.566165644479497px;
    left: -0.26163924509000935px;
    width: 133px;
    height: 80px;
    position: absolute;
  }
  .developer1-group2 {
    top: 649px;
    left: 1336.90869140625px;
    width: 66.2024917602539px;
    height: 61.02082061767578px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .developer1-vector04 {
    top: 0.0018808020447522722px;
    left: 0.12620013733703672px;
    width: 65px;
    height: 61px;
    position: absolute;
  }
  .developer1-vector05 {
    top: 9.315506752275269px;
    left: -0.13875903128860045px;
    width: 66px;
    height: 43px;
    position: absolute;
  }
  .developer1-group3 {
    top: 764px;
    left: 1337.90869140625px;
    width: 66.2024917602539px;
    height: 61.02082061767578px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .developer1-vector06 {
    top: 0.0018808020447522722px;
    left: 0.12620013733703672px;
    width: 65px;
    height: 61px;
    position: absolute;
  }
  .developer1-vector07 {
    top: 9.315506752275269px;
    left: -0.13875903128860045px;
    width: 66px;
    height: 43px;
    position: absolute;
  }
  .developer1-group4 {
    top: 913px;
    left: 1338.90869140625px;
    width: 66.2024917602539px;
    height: 61.02082061767578px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .developer1-vector08 {
    top: 0.0018808020447522722px;
    left: 0.12620013733703672px;
    width: 65px;
    height: 61px;
    position: absolute;
  }
  .developer1-vector09 {
    top: 9.315506752275269px;
    left: -0.13875903128860045px;
    width: 66px;
    height: 43px;
    position: absolute;
  }
  .developer1-group5 {
    top: 526px;
    left: 1336.701171875px;
    width: 61.99443435668945px;
    height: 47.081947326660156px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .developer1-vector10 {
    top: 0.0017639558303699232px;
    left: 0.11836482282842553px;
    width: 61px;
    height: 47px;
    position: absolute;
  }
  .developer1-vector11 {
    top: 7.187582222062133px;
    left: -0.10706407437078269px;
    width: 62px;
    height: 33px;
    position: absolute;
  }
  .developer1-rectangle13 {
    top: 75px;
    left: 501px;
    width: 413px;
    height: 145px;
    position: absolute;
  }
  .developer1-text24 {
    top: 80px;
    left: 510px;
    color: rgba(0, 0, 0, 1);
    width: 344px;
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .developer1-text35 {
    top: 532px;
    left: 1410px;
    color: rgba(0, 0, 0, 1);
    width: 150px;
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .developer1-arrow1 {
    top: 529px;
    left: 1620px;
    width: 26px;
    height: 1px;
    position: absolute;
  }
  .developer1-line1 {
    top: 621px;
    left: 1330px;
    width: 319px;
    height: 1px;
    position: absolute;
  }
  .developer1-text37 {
    top: 295px;
    left: 1091px;
    color: rgba(0, 0, 0, 1);
    width: 108px;
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .developer1-claritytasksline {
    top: 349px;
    left: 38px;
    width: 88px;
    height: 100px;
    position: absolute;
  }
  .developer1-ggmovetask {
    top: 545px;
    left: 13px;
    width: 138px;
    height: 138px;
    position: absolute;
  }
  